body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

.articlebg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.article {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.article table {
  width: 100%;
  border: 1px solid grey;
}

.article > p {
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
}

a {
  color: #03e9f4;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #00c6e3;
}
