.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.start {
  position: relative;
  top: -125px;
}

.container.start button:hover {
  background-color: rgb(254, 0, 68);
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(254, 0, 68, 1) 0%,
    rgba(56, 22, 137, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 560px;
  z-index: -10;
}

.arcade {
  background-image: url(/src/assets/acrade.png);
  background-repeat: no-repeat;
  width: 644px;
  height: 870px;
  position: absolute;
  top: 150px;
  overflow: hidden;
}

.animation {
  margin: 0 auto;
  position: relative;
  top: 171px;
  background-image: url(/src/assets/synthwave1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 552px;
  height: 325px;
  z-index: -5;
}

.audio {
  position: relative;
  top: -215px;
  text-align: center;
}

.start {
  position: absolute;
  text-align: center;
  top: 400px;
  z-index: 10;
}

.start button {
  min-width: 300px;
  margin-bottom: 10px;
  z-index: 11;
}
